* {
    margin:0;
    padding:0;
}

body {
    background: color #01171b;
}

svg path {
    fill:#000000;
    stroke:#eee;
    stroke-width:.25;
}

svg path:hover {
    fill:#4099e2;
    transition:0.2s;
    cursor:pointer;
}