@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin:0;
    padding:0;
}

body {
    background: color #01171b;
}

svg path {
    fill:#000000;
    stroke:#eee;
    stroke-width:.25;
}

svg path:hover {
    fill:#4099e2;
    transition:0.2s;
    cursor:pointer;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
