@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Felipa&display=swap');

.felipa-regular {
    font-family: "Felipa", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: color #01171b;
}

svg path {
    fill: #000000;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover {
    fill: #4099e2;
    transition: 0.2s;
    cursor: pointer;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.content {
    width: 35%;
    border: 2px solid white;
    padding: 15px;
}

.container {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

html {
    scroll-behavior: smooth;
}

.ccontent {
    width:46%;
    border:2px solid white;
    padding:15px;
}